<mat-toolbar>
  <div class="nav-button-row-container">
    <a class="leftmenu" (click)="clickLeftmenuActive()" mat-stroked-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="leftMenuActiveStatus ? 'west' : 'east'"></mat-icon>
    </a>
    <a class="nav-button" mat-stroked-button >
      <mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
    </a>
    <a class="nav-button" mat-stroked-button >
      <mat-icon aria-hidden="false" aria-label="about us" fontIcon="diversity_3"></mat-icon>
    </a>
    <a class="nav-button" mat-stroked-button >
      <mat-icon aria-hidden="false" aria-label="activities" fontIcon="construction"></mat-icon>
    </a>
    <a class="nav-button" mat-stroked-button >
      <mat-icon aria-hidden="false" aria-label="contact" fontIcon="contact_phone"></mat-icon>
    </a>
    <a class="nav-button" mat-stroked-button >
      <mat-icon aria-hidden="false" aria-label="teams" fontIcon="groups"></mat-icon>
    </a>
  </div>
</mat-toolbar>
